<app-header></app-header>
<div class="container">
    <div class="top-bar">
        <div class="top-bar-left">
            <div  class="txt-daily-cost">
                <p>Daily cost :</p>
            </div> 
            <div  class="txt-SEK">
                <p>SEK 1,000</p>
            </div>
            <div class="txt-project-monthly">
                <p>Projected monthly budget :</p>
            </div>
            <div class="txt-SEK3">
                <p>SEK 31,698</p>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="top-bar-right">
            <div class="div-btn-Gads">
                <div class="btn-GADS">
                    <span><i class="fab fa-google"></i></span>
                    Google Ads
                </div>
            </div>
            <div class="div-btn-select">
            <div class="btn-GADS">
                Select Range
                <mat-icon class="icon-ad">arrow_drop_down</mat-icon>
            </div>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="left-card-container">
            <div class="row">
                <div class="card1">
                    <div class="card-content">
                        <h5 class="card-name">Clicks</h5>
                        <h4 class="numbers">25,000</h4>
                        <div class="card-btm-txt">
                            <p>Yaay! <span id="progress-number-green">+5,000 </span>than last month</p>
                        </div>
                    </div>
                    <div class="card1-smile">
                        <mat-icon>sentiment_satisfied_alt</mat-icon>
                    </div>
                </div>
                <div class="card2">
                     <div class="card-content">
                        <h5 class="card-name">Revenue</h5>
                        <h4 class="numbers">79,963</h4>
                        <div class="card-btm-txt">
                            <p>Yaay! <span id="progress-number-green">+5,00 </span>than last month</p>
                        </div>
                    </div>
                    <div class="card1-smile-face">
                        <mat-icon>face</mat-icon>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card3">
                    <div class="card-content">
                        <h5 class="card-name">Cost</h5>
                        <h4 class="numbers">29,256</h4>
                        <div class="card-btm-txt">
                            <p>Oops! <span id="progress-number-red">-SEK 500 </span>than last month</p>
                        </div>
                    </div>
                    <div class="card1-smile-bad">
                        <mat-icon>mood_bad</mat-icon>
                    </div>
                </div>
                <div class="card4">
                    <div class="card-content">
                        <h5 class="card-name">Conversion rate</h5>
                        <h4 class="numbers">20%</h4>
                        <div class="card-btm-txt">
                            <p>You are <span id="progress-number-red">+SEK 50 </span>off the target</p>
                        </div>
                    </div>
                    <div class="card1-smile-face2">
                        <mat-icon>face</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-card-container">
            <h6 class="txt-top-3">Top 3 performing Ads/ URLs</h6>
            <p class="txt-based">(Based on most conversions/ Clicks)</p>
            <div class="sub-card">
                <div class="row-container">
                    <div class="row-subcard">
                        <div class="seq-num">1</div>
                        <div class="seq-txt">Nike Air | Sports Shoes | Summer Sale</div>
                    </div>
                    <div class="row-subcard">
                        <div class="seq-num">2</div>
                        <div class="seq-txt">Nike sport | Sports Shoes female |<br>
                        Summer Sale</div>
                    </div>
                    <div class="row-subcard">
                        <div class="seq-num">3</div>
                        <div class="seq-txt">Nike Air Max | Men's Shoes | Summer <br>
                        Sale</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="txt-conversion">
        <p>Conversion summary</p>
    </div>
    <div class="div-chart">
        <div id="curve_chart" style="width: 100%; height: 180px"></div>
    </div>
    <div class="footer">
        <div class="AdvFB">
            <span><i class="fab fa-facebook-f"></i></span>
            Advertise on Facebook</div>
        <div class="ConnectSlack">
            <span><i class="fab fa-slack"></i></span>
            Connect to Slack</div>
        <div class="KnCenter">
            <span><i class="fas fa-lightbulb"></i></span>
            Knowledge center</div>
    </div>
</div>